.BillingComponents .card .bg-imag {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(120px);
    position: relative;
    min-width: 0px;
    padding: 30px;
    overflow-wrap: break-word;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    background: url(/public/assets/back.jpg) 100% center;
}

.BillingComponents .card .bg-imag h2 {
    margin: 0px auto 0px 0px;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.BillingComponents .card .bg-imag .icon {
    color: white;
    height: 48px;
    width: 48px;
}

.BillingComponents .card .bg-imag .subHeading {
    margin: 64px 0px 0px;
    font-size: 1.5rem;
    line-height: 1.375;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding-bottom: 8px;
}

.BillingComponents .card .card-body .boxes {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);

}

.BillingComponents .card .card-body .boxes .box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .boxes .box .firstbox {
    margin-right: 24px;
    line-height: 1;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .boxes .box span,
.BillingComponents .card .card-body .secondbox span {
    margin: 0px;
    font-size: 0.625rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 0.8;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.BillingComponents .card .card-body .boxes .box h6,
.BillingComponents .card .card-body .secondbox h6 {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.BillingComponents .card .card-body .secondbox {
    line-height: 1;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body.bg-blue {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(120px);
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-image: initial;
    border-radius: 1.25rem;
    padding: 30px;
}


.BillingComponents .card .card-body.bg-blue .cardsmall {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    color: rgb(52, 71, 103);
    padding: 20px;
    background: url(/public/assets/billingbackground.png) 0% 0%;
    border-radius: 18px;
}

.BillingComponents .card .card-body.bg-blue .cardsmall .card-body-small span {
    margin: 0px auto 0px 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.25;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.BillingComponents .card .card-body.bg-blue .cardsmall .card-body-small .icon {
    height: 18px;
    width: 18px;
    color: white;
}

.BillingComponents .card .card-body.bg-blue .cardsmall .card-body-small .nextDiv {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body.bg-blue .cardsmall .card-body-small .nextDiv h2 {
    margin: 0px auto 0px 0px;
    font-size: 2.25rem;
    line-height: 1.3;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.BillingComponents .card .card-body.bg-blue .heading {
    margin: 0px 0px 8px;
    font-size: 0.625rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
    font-weight: 500;
}

.BillingComponents .card .card-body.bg-blue .divmain, .BillingComponents .card .card-body .divmain  {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .divmain .first {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.BillingComponents .card .card-body .divmain .first .box {
    display: flex;
    margin-right: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    color: rgb(52, 71, 103);
    background: rgba(34, 41, 78, 0.7);
    border-radius: 50%;
    width: 42px;
    height: 42px
}

.BillingComponents .card .card-body .divmain .first .box .icon {
    color: rgb(1, 181, 116);
    height: 20px;
    width: 20px;
}
.BillingComponents .card .card-body .divmain .first .boxbox{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.4;
    text-align: center;
    text-transform: unset;
    user-select: none;
    transition: all 150ms ease-in 0s;
    font-size: 0.75rem;
    background-image: initial;
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    border-radius: 10rem;
    min-width: 1.5875rem;
    min-height: 1.5875rem;
    padding: 0.28125rem;
    font-weight: 700;
    width: 35px;
    height: 35px;
    background-size: 150% !important;
    background-position-x: 25% !important;
}
.BillingComponents .card .card-body .divmain .first .boxbox.wrong{
    color: rgb(227, 26, 26);
    border: 1px solid rgb(227, 26, 26);

}

.BillingComponents .card .card-body .divmain .first .boxbox.right{
    color: rgb(1, 181, 116);
    border: 1px solid rgb(1, 181, 116);
}
.BillingComponents .card .card-body .divmain .first .boxbox.alertw{
    color: rgb(160, 174, 192);
    border: 1px solid rgb(160, 174, 192);
}
.BillingComponents .card .card-body .divmain .first .headingBoxblue {
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);

}

.BillingComponents .card .card-body .first .headingBoxblue h5 {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.BillingComponents .card .card-body .divmain .first .headingBoxblue h6 {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
    font-weight: 500;

}

.BillingComponents .card .card-body .divmain .second {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.BillingComponents .card .card-body .divmain .second.wrong{
    color: rgb(227, 26, 26);
}
.BillingComponents .card .card-body .divmain .second.right{
   color: rgb(1, 181, 116)
}
.BillingComponents .card .card-body .divmain .second.alertw{
    color: rgb(160, 174, 192)
 }

.BillingComponents .card .card-body .mainrow {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 32px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .mainrow h6 {
    margin: 0px;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.BillingComponents .card .card-body .mainrow .paymemt {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    min-width: 64px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 0.75rem;
    line-height: 1.4;
    text-align: center;
    text-transform: unset;
    user-select: none;
    transition: all 150ms ease-in 0s;
    min-height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0rem 0.25rem 0.4375rem -0.0625rem, rgba(0, 0, 0, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    padding: 0.75rem 1.5rem;
    background-image: initial;
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 117, 255);
    color: rgb(255, 255, 255);
    background-size: 150% !important;
    background-position-x: 25% !important;
}

.BillingComponents .card .card-body .inputcard {
    border: 2px solid rgb(74, 85, 104);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    border-radius: 20px;
}

.BillingComponents .card .card-body .inputcard .icon {
    width: 21px;
}

.BillingComponents .card .card-body .inputcard span {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    padding-left: 16px;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.BillingComponents .card .card-body .inputcard .pencile {
    margin-left: auto;
    line-height: 0;
    opacity: 1;
    background: transparent;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.25rem !important;
}

.BillingComponents .card .card-body .heading {
    margin: 0px;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.BillingComponents .card .card-body .subheading {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.25;
    opacity: 1;
    text-transform: uppercase;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
    font-weight: 500;
}
.BillingComponents .card .card-body .cardMain {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);

}

.BillingComponents .card .card-body .cardMain .card-body-main {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 1;
    color: rgb(52, 71, 103);
    border-radius: 0.9375rem;
    background: linear-gradient(127.09deg, rgba(24, 29, 60, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);

}

.BillingComponents .card .card-body .cardMain .card-body-main .maindiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .cardMain .card-body-main .maindiv .mainrow {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .cardMain .card-body-main .maindiv .mainrow span {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.BillingComponents .card .card-body .cardMain .card-body-main .mainSeconMain{
    margin-bottom: 8px;
    line-height: 0;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.BillingComponents .card .card-body .cardMain .card-body-main .mainSeconMain span{
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
}
.BillingComponents .card .card-body .ulstyle{

    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    list-style: none;
}
.BillingComponents .card .card-body .ulstyle li{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-bottom: 8px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .ulstyle li .mainDiv{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.BillingComponents .card .card-body .ulstyle li .mainDiv .first{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.paymemmt{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    margin-left: auto;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.02857em;
    min-width: 64px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 0.5rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    transition: all 150ms ease-in 0s;
    min-height: 2.125rem;
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
    background-image: initial;
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 117, 255);
    color: #fff;
    background-size: 150% !important;
    background-position-x: 25% !important;

}